@page
@model Taller.App.Front.Pages.JefeOperaciones.GestionVehiculosModel
@{
}

<div class="container" aria-label="Basic example">

  <a class="btn btn-primary" role="button" asp-page="/JefeOperaciones/GestionRevisiones">Revisiones</a>
  <a class="btn btn-primary" role="button" asp-page="/JefeOperaciones/GestionClientes">Gestión Clientes</a>
  <a class="btn btn-primary" role="button" asp-page="/JefeOperaciones/GestionMecanico">Gestion Mecanicos</a>
  <a class="btn btn-warning" role="button" asp-page="/JefeOperaciones/GestionVehiculos">Gestion Vehiculos</a>
  <a class="btn btn-primary" role="button">Notificaciones</a>

   <div class="text-center"><br>
    <h2>Vehículos</h2>
  </div>
</div><br>

<div>
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#vehiculoModal">
    Crear Vehículos
  </button>
</div><br>

<div></div>
<input type="text" id="myInput" onkeyup="" placeholder="Buscar por Placa" title="Type in a name">
</div><br>


<div class="container">
  <div class="row">

    <table class="table table-bordred table-striped" data-search="true">
      <thead>
        <tr>
          <th scope="col">Id Propietario</th>
          <th scope="col">Placa</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Pasajeros</th>
          <th scope="col">Cilindraje</th>
          <th scope="col">Pais Origen</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
            <tbody>
                @foreach (var v in Model.listaVehiculos)
                {
                    <tr>
                        <td>@v.PropietarioId</td>
                        <td>@v.Id</td>
                        <td>@v.Marca</td>
                        <td>@v.Modelo</td>
                        <td>@v.Pasajeros</td>
                        <td>@v.Motor</td>
                        <td>@v.Pais</td>
                        <td>@v.Descripcion</td>
                        <td>
                            <div class="btn-group">
                                <form method="POST">
                                    <a href="#" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-pencil"></span>Editar</a>
                                </form>
                                <form method="POST">
                                    <button class="btn btn-danger" title="Eliminar Vehiculo" type="submit" asp-route-id="@v.Id"
                                    asp-page-handler="Del">Eliminar</button>
                                </form>
                            </div>
                        <td>
                    </tr>
                }
            <tbody>
    </table>
  </div>
</div>


<div class="modal fade" id="vehiculoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Vehiculo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="px-4" method="POST">

                    <div class="row">
                        <div class="mb-3 col">
                            <label for="recipient-name" class="col-form-label">Id Propietario:</label>
                            <input type="text" class="form-control" id="recipient-name"
                                asp-for="@Model.vehiculoActual.PropietarioId" name="PropietarioId">
                        </div>
                        <div class="mb-3 col">
                            <label for="recipient-name" class="col-form-label">Placa:</label>
                            <input type="text" class="form-control" id="recipient-name"
                                asp-for="@Model.vehiculoActual.Id" name="Id">
                        </div>                        
                        <div class="mb-3 col">
                            <label for="recipient-name" class="col-form-label">Marca:</label>
                            <select class="form-select" asp-for="@Model.vehiculoActual.Marca" name="Marca">
                              <option value="Audi">Audi</option>
                              <option value="BMW">BMW</option>
                              <option value="Chevrolet">Chevrolet</option>
                              <option value="Citroen">Citroen</option>
                              <option value="Dodge">Dodge</option>
                              <option value="Fiat">Fiat</option>
                              <option value="Ford">Ford</option>
                              <option value="Honda">Honda</option>
                              <option value="Hyundai">Hyundai</option>
                              <option value="Kia">Kia</option>
                              <option value="Mazda">Mazda</option>
                              <option value="Mercedes-Benz">Mercedes-Benz</option>
                           </select>
                        </div>

                    <div class="row">
                        <div class="mb-3 col">
                            <label for="recipient-name" class="col-form-label">Modelo:</label>
                                    <select class="form-select" asp-for="@Model.vehiculoActual.Modelo" name="Modelo">
                                      <option value="2010">2010</option>
                                      <option value="2011">2011</option>
                                      <option value="2012">2012</option>
                                      <option value="2013">2013</option>
                                      <option value="2014">2014</option>
                                      <option value="2015">2015</option>
                                      <option value="2016">2016</option>
                                      <option value="2017">2017</option>
                                      <option value="2018">2018</option>
                                      <option value="2019">2019</option>
                                      <option value="2020">2020</option>
                                      <option value="2021">2021</option>
                                      <option value="2022">2022</option>
                                    </select>
                         </div>                      
                        <div class="mb-3 col-6">
                            <label for="recipient-name" class="col-form-label">Pasajeros:</label>
                            <input type="number" class="form-control" id="recipient-name"
                                asp-for="@Model.vehiculoActual.Pasajeros" name="Pasajeros">
                        </div>
                        <div class="mb-3 col-12">
                            <label for="recipient-name" class="col-form-label">Motor:</label>
                            <input type="text" class="form-control" id="recipient-name"
                                asp-for="@Model.vehiculoActual.Motor" name="Motor">
                        </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="recipient-name" class="col-form-label">Pais:</label>
                            <select class="form-select" asp-for="@Model.vehiculoActual.Pais" name="Pais">
                              <option value="Alemania">Alemania</option>
                              <option value="Argentina">Argentina</option>
                              <option value="Australia">Australia</option>
                              <option value="Brasil">Brasil</option>
                              <option value="China">China</option>
                              <option value="Colombia">Colombia</option>
                              <option value="Ecuador">Ecuador</option>
                              <option value="España">España</option>
                              <option value="Estados Unidos">Estados Unidos</option>
                              <option value="Francia">Francia</option>
                              <option value="India">India</option>
                              <option value="Japón">Japón</option>
                              <option value="México">México</option>
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="recipient-name" class="col-form-label">Descripción:</label>
                            <input type="text" class="form-control" id="recipient-name"
                                asp-for="@Model.vehiculoActual.Descripcion" name="Descripcion">
                        </div>
                        


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" asp-page-handler="Add">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

