@page
@model Taller.App.Front.Pages.JefeOperaciones.GestionClientesModel
@{
}

<div class="container" aria-label="Basic example">

  <a class="btn btn-primary" role="button" asp-page="/JefeOperaciones/GestionRevisiones">Revisiones</a>
  <a class="btn btn-warning" role="button" asp-page="/JefeOperaciones/GestionClientes">Gestión Clientes</a>
  <a class="btn btn-primary" role="button" asp-page="/JefeOperaciones/GestionMecanico">Gestion Mecanicos</a>
  <a class="btn btn-primary" role="button" asp-page="/JefeOperaciones/GestionVehiculos">Gestion Vehiculos</a>
  <a class="btn btn-primary" role="button">Notificaciones</a>

  <div class="text-center"><br>
    <h2>Clientes</h2>
  </div>
</div><br>

<div>
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#clienteModal">
    Crear Cliente
  </button>
</div><br>

<div></div>
<input type="text" id="myInput" onkeyup="" placeholder="Buscar por Cedula" title="Type in a name">
</div><br>


<div class="container">
  <div class="row">
    <table class="table table-bordred table-striped" data-search="true">
      <thead>
        <tr>
          <th scope="col">Id Cliente</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Dirección</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Correo</th>
          <th scope="col">Fecha Nacimiento</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      
    <tbody>
                @foreach (var c in Model.listaPropietarios)
                {
                    <tr>
                        <td>@c.Id</td>
                        <td>@c.Nombre</td>
                        <td>@c.Apellido</td>
                        <td>@c.Ciudad</td>
                        <td>@c.Direccion</td>
                        <td>@c.Telefono</td>
                        <td>@c.Correo</td>
                        <td>@c.FechaNacimiento</td>
                        <td>
                            <div class="btn-group">
                                <form method="POST">
                                    <a href="#" class="btn btn-warning"><span
                                        class="glyphicon glyphicon-pencil"></span>Editar</a>
                                </form>
                                <form method="POST">
                                    <button class="btn btn-danger" title="Eliminar mecánico" type="submit" asp-route-id="@c.Id"
                                    asp-page-handler="Del">Eliminar</button>
                                </form>
                            </div>
                        <td>
                    </tr>
                }
    </tbody>
  </div>
</div>


<div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="px-4" method="POST">

                    <div class="row">
                        <div class="mb-3 col-4">
                            <label for="recipient-name" class="col-form-label">Id:</label>
                            <input type="text" class="form-control" id="recipient-name"
                                asp-for="@Model.propietarioActual.Id" name="Id">
                        </div>
                        <div class="mb-3 col-4">
                            <label for="recipient-name" class="col-form-label">Nombre:</label>
                            <input type="text" class="form-control" id="recipient-name"
                                asp-for="@Model.propietarioActual.Nombre" name="Nombre">
                        </div>
                        <div class="mb-3 col-4">
                            <label for="recipient-name" class="col-form-label">Apellido:</label>
                            <input type="tel" class="form-control" id="recipient-name"
                                asp-for="@Model.propietarioActual.Apellido" name="Apellido">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-4">
                            <label for="recipient-name" class="col-form-label">Ciudad:</label>
                            <select class="form-select" asp-for="@Model.propietarioActual.Ciudad" name="Ciudad" >
                              <option value="Armenia">Armenia</option>
                              <option value="Bogota">Bogotá</option>
                              <option value="Cali">Cali</option>
                              <option value="Manizales">Manizales</option>
                              <option value="Medellin">Medellín</option>
                              <option value="Pasto">Pasto</option>
                              <option value="Pereira">Pereira</option>
                            </select>
                        </div>
                        <div class="mb-3 col-4">
                            <label for="recipient-name" class="col-form-label">Dirección:</label>
                            <input type="text" class="form-control" id="recipient-name"
                                asp-for="@Model.propietarioActual.Direccion" name="Direccion">
                        </div>
                        <div class="mb-3 col-4">
                            <label for="recipient-name" class="col-form-label">Teléfono:</label>
                            <input type="text" class="form-control" id="recipient-name"
                                asp-for="@Model.propietarioActual.Telefono" name="Telefono">
                        </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="recipient-name" class="col-form-label">Correo:</label>
                            <input type="text" class="form-control" id="recipient-name"
                                asp-for="@Model.propietarioActual.Correo" name="Correo">
                        </div>
                        <div class="mb-3 col-12">
                            <label for="recipient-name" class="col-form-label">Fecha Nacimiento:</label>
                            <input type="date" class="form-control" id="recipient-name"
                                asp-for="@Model.propietarioActual.FechaNacimiento" name="FechaNacimiento">
                        </div>
                        <div class="mb-3 col-12">
                            <label for="recipient-name" class="col-form-label">Contraseña:</label>
                            <input type="text" class="form-control" id="recipient-name"
                                asp-for="@Model.propietarioActual.Contrasenia" name="Contrasenia">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" asp-page-handler="Add">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>













































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































        